*{
    padding:0px;
    margin:0px;
}
body{
    margin:0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    color:white;
    line-height:1.6; 
}
#showcase{
    background-image:url("https://res.cloudinary.com/fizy2019/image/upload/v1575946752/showcase_qbzffb.jpg");
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column; 
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px; 
}
#showcase h1{
    font-size:50px;
    line-height:1.0; 
}
#showcase p{
    font-size:20px;
}
.flex1{
    flex:0.5;
    align-self:center; 
    font-size:30px;
    background-color:white;
    border-radius:10px;
}
flex2{
    flex:0.9;
    align-self:center;
    
}
.button{ 
    margin-top:50px;
    padding:5px;
    color:white;
    font-size:30px;
    border-style:solid;
    border-color:rgb(131, 131, 224);
    border-width:1px;
    border-radius:25px;
    text-decoration:none;  
}
#showcase .button:hover{
    background:tomato;
    color:black;
}
.section-1{
    display:flex;
    justify-content:center;
    flex-shrink:wrap; 
    padding:20px;
    margin:0px;
    color:black;
    background:lightgrey;
    text-align:center;
    font-size:20px;
    border-bottom-width:2px; 
    border-style:solid;
    border-color:black;
    border-left:none;
    border-right:none;
}
.section-2{
    padding:20px;
    text-align:center;
}
.profile-img{
    border-width:1px;
    border-style:double;
    border-color:black;
    border-radius:50em;
    
}
.section-2b{
    color:black;
    font-size:20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
#section-3a{
    background-color:rgb(15, 14, 14);
    text-align:center;
    font-size:20px;
    padding-top:30px;
}
#section-3{
    padding:0px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
    font-size:15px;
    text-decoration:none;
    background-color:rgb(15, 14, 14);
}
#section-3 div{
    padding:30px;
}
.box-1{}
.box-2{}
.box-3{}
#section-4{
    background-color:rgb(15, 14, 14);
    text-align:center;
    font-size:15px;
    padding:30px;

}
